@font-face {
  font-family: "NotoSans";
  src: url("../include/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../include/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
  /* background-size: cover; */

  background-image:
    /* url("./p+_mockup.png"), */
    /* url("./p+_test_css.png"), */
    /* url("./p+_test_sss.png"), */
    url("./p+_test_match.png"),
    /* url("./p+_test_rss1.png"), */
    /* url("./p+_test_rss2.png"), */
    /* url("./p+_test_rss3.png"), */
    url("./p+_test_rss4.png"),
    /* url("./p+_test_rss5.png"), */
    url("./p+_background.png");
  background-repeat: no-repeat;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  align-items: center;
}

.omg .container {
  border-radius: unset;
  background: rgba(0,0,0,0.85);
}

.player.container {
  width: 500px;
  height: 64px;
  top: 42px;
  padding: 0px 6px;
}

.player.container > div:not(.score) > .text:not(.text_empty) {
  margin-left: 4px;
  margin-right: 4px;
}

.fgc .player.container {
  top: 8px;
  width: 652px;
}

.omg .player.container {
  top: 89px;
  width: 350px;
  height: 38px;
  transform: skewX(30deg);
  border-radius: calc(var(--border-readius) / 2);
  padding: 0 16px;
}
.tekken8 .player.container {
  top: 32px;
  width: 540px;
  height: 38px;
  transform: skewX(45deg);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0px 16px;
}

.omg .p2.player.container > div:not(.score) {
  transform: skewX(30deg);
}
.tekken8 .p2.player.container > div:not(.score) {
  transform: skewX(45deg);
}

.omg .p1.player.container > div:not(.score) {
  transform: skewX(-30deg);
}
.tekken8 .p1.player.container > div:not(.score) {
  transform: skewX(-45deg);
}

.sf6 .player.container {
  top: 10px;
  height: 48px;
  width: 480px;
  transform: skewX(35deg);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0px 16px;
}

.p1.container {
  background-position: 100% 0;
  left: 380px;
  flex-direction: row;
}

.fgc .p1.container {
  left: 154px;
}

.fgc.thin.uni2 .p1.container {
  left: 250px;
}

.omg .p1.container {
  left: 462px;
}
.tekken8 .p1.container {
  left: 160px;
}

.roa2 .p1.container {
  left: 0px;
  border-radius: 0px 0px var(--border-radius) 0px;
}

.pokken .p1.container {
  top: unset;
  bottom: 50px;
  left: 205px;
}

.p2.container {
  background-position: 0 0;
  right: 380px;
  flex-direction: row-reverse;
}

.fgc .p2.container {
  right: 154px;
}

.fgc.thin.uni2 .p2.container {
  right: 250px;
}

.omg .p2.container {
  transform: skew(-30deg);
  right: 462px;
}
.tekken8 .p2.container {
  transform: skewX(-45deg);
  right: 160px;
}

.sf6 .p2.container {
  transform: skewX(-35deg);
  right: 248px;
}

.roa2 .p2.container {
  right: 0px;
  border-radius: 0px 0px 0px var(--border-radius);
}

.pokken .p2.container {
  bottom: unset;
  top: 20px;
  right: 180px;
}

.thin .player.container {
  padding: 0 8px;
}

.name,
.name_twitter {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 30px;
}

.omg .name,
.omg .name_twitter {  /* not .twitter? */
  font-size: 24px;
}

.chips {
  display: flex;
  position: absolute;
  top: 112px;
  width: 500px;
  height: 24px;
  justify-content: right;
  align-content: center;
  overflow: hidden;
}

.omg.pplus .chips {
  top: 134px;
}

.sf6.online .chips {
  width: 270px;
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
}

.sf6.online .p1.chips {
  transform: skewX(35deg);
}

.sf6.online .p2.chips {
  transform: skewX(-35deg);
}

.tekken8 .chips {
  top: 4px;
  width: 530px;
}

.chip {
  overflow: hidden;
  border-radius: calc(var(--border-radius) / 2);
}

.p1.chips {
  left: 380px;
}

.omg.pplus .p1.chips {
  left: 325px;
}

.roa2.offline .p1.chips {
  left: 8px;
  justify-content: left;
}

.tekken8 .p1.chips {
  left: 142px;
  justify-content: left;
  flex-direction: row-reverse;
}

.pokken.online .p1.chips {
  left: 265px;
  top: unset;
  bottom: 155px;
  justify-content: left;
}

.p2.chips {
  flex-direction: row-reverse;
  left: 1040px;
  justify-content: left;
}

.omg.pplus .p2.chips {
  left: unset;
  right: 326px;
}

.pokken.online .p2.chips {
  left: unset;
  right: 227px;
  bottom: unset;
  top: 118px;
  justify-content: right;
}

.roa2.offline .p2.chips {
  left: unset;
  right: 8px;
  justify-content: right;
}

.tekken8 .p2.chips {
  left: unset;
  right: 142px;
  justify-content: right;
  flex-direction: row;
}

.chip .text:not(.text_empty) {
  margin-left: 4px;
  margin-right: 4px;
  height: 24px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: calc(var(--border-radius) / 4);
  min-width: unset;
  padding-left: 8px;
  padding-right: 8px;
}

.omg .chip .text:not(.text_empty) {
  height: 18px;
  font-size: 12px;
  background: rgba(0,0,0,0.85);
}

.sf6 .chip .text:not(.text_empty) {
  padding-left: 16px;
  padding-right: 16px;
}

.sf6 .chip .text {
  background: none;
  position: relative;
}

.sf6.offline .chip .text:not(.text_empty)::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: 100%;
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(35deg);
  content: " ";
  z-index: -999;
}

.sf6.offline .p2 .chip .text:not(.text_empty)::before {
  transform: skewX(-35deg);
}

.flagcountry, .flagstate {
  display: flex;
  justify-content: center;
}

.flagstate .text,
.flagcountry .text {
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.p2 .flagstate .text,
.p2 .flagcountry .text {
  flex-direction: row-reverse;
}

.omg .p2 .flagstate .text,
.omg .p2 .flagcountry .text,
.ssbu .p2 .flagstate .text,
.ssbu .p2 .flagcountry .text,
.roa2 .p2 .flagstate .text,
.roa2 .p2 .flagcountry .text,
.nasb2 .p2 .flagstate .text,
.nasb2 .p2 .flagcountry .text {
  flex-direction: row;
  padding-left: 0 !important;
}

.omg .p1 .flagstate .text,
.omg .p1 .flagcountry .text,
.ssbu .p1 .flagstate .text,
.ssbu .p1 .flagcountry .text,
.roa2 .p1 .flagstate .text,
.roa2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text {
  padding-right: 0 !important;
}

.omg .p1 .flagstate .text,
.omg .p1 .flagcountry .text,
.ssbu .p1 .flagstate .text,
.ssbu .p1 .flagcountry .text,
.roa2 .p1 .flagstate .text,
.roa2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text {
  flex-direction: row-reverse;
}

.fgc .flagcountry .text,
.fgc .flagstate .text {
  flex-direction: column;
  gap: 0;
  letter-spacing: 2px;
  font-size: 18px;
}

.tekken8 .chip .text:not(.text_empty) {
  padding-left: 8px;
  padding-right: 8px;
}

.tekken8 .p1 .flagstate .text,
.tekken8 .p1 .flagcountry .text {
  flex-direction: row;
  padding-left: 0;
  gap: 8px;
}

.tekken8 .p2 .flagstate .text,
.tekken8 .p2 .flagcountry .text {
  flex-direction: row-reverse;
  padding-right: 0;
  gap: 8px;
}

.sf6 .chip .text:not(.text_empty) {
  font-size: 20px;
  height: 100%;
}

.roa2 .chip .text:not(.text_empty) {
  font-size: 20px;
  height: 100%;
}

.sf6.online .seed.chip .text:not(.text_empty) {
  margin: 0;
  border-radius: 0;
  width: 140px;
}

.sf6.online .p1 .chip {
  transform: skewX(-35deg);
}

.sf6.online .p2 .chip {
  transform: skewX(35deg);
}

.sf6.online .p1 .seed.chip {
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(35deg);
}

.sf6.online .p2 .seed.chip {
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(-35deg);
}

.sf6.online .p1 .seed.chip .text {
  transform: skewX(-35deg);
}

.sf6.online .p2 .seed.chip .text {
  transform: skewX(35deg);
}

.fgc .name_twitter {
  flex-direction: row;
  justify-content: space-between;
}

.fgc .p2 .name_twitter {
  flex-direction: row-reverse;
}

.name_twitter .name {
  font-size: 32px;
}

.fgc .name_twitter .name {
  width: 60%;
}

.sf6 .name_twitter .name {
  width: 100%;
  font-size: 30px;
}

.tekken8 .name_twitter .name {
  font-size: 28px;
  width: 100%;
}

.fgc .p1 .name_twitter .name .text {
  justify-content: flex-start;
}

.fgc .p2 .name_twitter .name .text {
  justify-content: flex-end;
}

.omg .p1 .score > .text {
  transform: skewX(-30deg);
}
.tekken8 .p1 .name_twitter, .tekken8 .p1 .score > .text {
  transform: skewX(-45deg);
}

.omg .p2 .score > .text {
  transform: skewX(30deg);
}
.tekken8 .p2 .name_twitter, .tekken8 .p2 .score > .text {
  transform: skewX(45deg);
}

.name_twitter {
  max-width: 100%;
}

.name_twitter .extra {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 18px;
  overflow: hidden;
}

.p2 .extra {
  flex-direction: row-reverse;
}

.fgc .name_twitter .extra {
  flex-direction: column;
}

.name_twitter .twitter {
  font-size: 18px;
  max-width: 100%;
}

.extra .pronoun {
  width: 100%;
}

.fgc .p1 .name_twitter .twitter .text {
  justify-content: flex-end;
}

.fgc .p2 .name_twitter .twitter .text {
  justify-content: flex-start;
}

.fgc .p1 .name_twitter .pronoun .text {
  justify-content: flex-end;
}

.fgc .p2 .name_twitter .pronoun .text {
  justify-content: flex-start;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.chips .twitter_logo {
  margin-left: -4px;
}

.light .twitter_logo {
  filter: invert(1);
}

.logo {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.omg .logo {
  background-image: url("org_bsc.png");
}

.tekken8 .logo {
  width: 80px;
  height: 80px;
  bottom: 72px;
  top: unset;
}

.info.container {
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 20px;
}

.info.container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  justify-content: space-around;
}

.info.container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.container.top {
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 36px;
  padding: 8px 16px;
}

.omg .container.top,
.ssbu .container.top {
  bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tournament_name {
  font-size: 22px;
  width: 100%;
  height: 100%;
}

.tekken8 .tournament_name {
  height: unset;
  font-size: 24px;
}

.fgc .info.container.top {
  top: 8px;
  height: 34px;
  width: 290px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: calc(var(--border-radius) / 2);
  justify-content: center;
}

.tekken8 .info.container.top {
  height: 32px;
  top: 0px;
  width: 560px;
  border-radius: calc(var(--border-radius) / 2);
  background: unset;
  overflow: visible;
  padding: 0 42px;
  justify-content: center;
}

.info.container.bottom {
  top: 42px;
  left: 42px;
  display: flex;
  justify-content: center;
  height: unset;
  flex-direction: column;
  width: 280px;
  height: 64px;
  font-size: 20px;
  padding: 4px 16px;
}

.omg .info.container.bottom {
  top: 137px;
  bottom: unset;
  width: 270px;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - 35px) 100%,
    35px 100%
  );
  /* border: 2px solid white; */
}

.info.container.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 64px;
  font-size: 20px;
  padding: 4px 16px;
}

.info.container.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 64px;
  font-size: 20px;
  padding: 4px 16px;
}

.phase {
  font-size: 18px;
  letter-spacing: 3px;
  width: 100%;
}

.omg .phase {
  font-size: 12px;
  letter-spacing: 0px;
  color: rgb(128,128,128);
}

.tekken8 .phase {
  font-size: 20px;
}

.match {
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
}

.omg .match {
  font-size: 20px;
  letter-spacing: 0px;
}

.fgc .info.container.bottom {
  top: unset;
  bottom: 0;
  padding: 16px 24px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sf6 .info.container.bottom {
  border-radius: calc(var(--border-radius) / 2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: unset;
  bottom: 0;
  width: 400px;
  height: 64px;
  background: unset;
  overflow: visible;
  padding: 0 42px;
  justify-content: center;
}

.bblue .info.container.top {
  border-radius: var(--border-radius);
}

.bblue .info.container.bottom {
  top: 180px;
  bottom: unset;
  border-radius: var(--border-radius);
}

.tekken8 .info.container.bottom {
  border-radius: calc(var(--border-radius) / 2);
  background: unset;
  overflow: visible;
  padding: 0 70px;
  justify-content: center;
  bottom: 0;
  width: 500px;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon .text:not(.text_empty) {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.thin .icon {
  border-radius: 8px;
}

.icon div:not(.text) {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f3f46;
  border-radius: var(--border-radius);
}

.tsh_character {
  background-color: #3f3f46;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.icon div:not(.text) {
  border-radius: calc(var(--border-radius) * 2 / 3);
}

.fgc.thin .icon div:not(.text) {
  height: 38px;
  width: 38px;
  background-size: cover;
}

.flags_container {
  display: flex;
  flex-direction: column;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 24px;
}

.omg .flag {
  width: 24px;
  height: 18px;
}

.tekken8 .flag {
  width: 36px !important;
  height: 24px !important;
}

.fgc .flag {
  width: 28px;
  height: 18px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
}

.tekken8 .sponsor_icon {
  position: absolute;
  right: 100px;
  z-index: -999;
  opacity: 0.6;
}

.tekken8 .p2 .sponsor_icon {
  right: unset;
  left: 100px;
}

.tekken8 .sponsor_icon > div > div {
  width: 80px;
  height: 80px;
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  width: auto;
  align-items: center;
  gap: 4px;
}

.character_container > div {
  overflow: hidden;
  height: 48px;
  width: 48px;
}

.fgc.thin .character_container > div > div {
  height: 100%;
}

.character_container > div > div {
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
}

.score {
  width: 64px;
  height: 64px;
  font-size: 40px;
  color: var(--bg-color);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.omg .score,
.tekken8 .score {
  font-size: 38px;
  width: 80px;
}

.p1 .score {
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
  margin-right: -6px;
  margin-left: 6px;
}

.thin .p1 .score {
  margin-right: -8px;
  margin-left: 8px;
}

.omg .p1 .score,
.tekken8 .p1 .score {
  margin-right: -16px;
  margin-left: 16px;
}

.sponsor {
  margin-right: 6px;
}

.p1 .sponsor {
  color: var(--p1-sponsor-color);
}

.p2 .score {
  color: var(--p2-score-color);
  background: var(--p2-score-bg-color);
  margin-left: -6px;
  margin-right: 6px;
}

.thin .p2 .score {
  margin-left: -8px;
  margin-right: 8px;
}

.omg .p2 .score,
.tekken8 .p2 .score {
  margin-left: -16px;
  margin-right: 16px;
}

.p2 .sponsor {
  color: var(--p2-sponsor-color);
}

.losers {
  display: inline-flex;
  width: 22px;
  height: 22px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.p1 .losers {
  background: #ff3837ff;
}

.p2 .losers {
  background: #308affff;
}